<div id="tab-panel" role="tabpanel">

    <input id="accounts-search" name="search"
    type="search" placeholder="Search for account" hx-post="/htmx/accounts/search"
    hx-headers='{ "X-CSRF-Token": "{{ .csrfToken }}" }'
        hx-target="#search-results" hx-swap="innerHTML" hx-trigger="input changed delay:500ms, search, load">

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Username</th>
                <th>Telegram</th>
                <th>Type</th>
                <th>Click to edit</th>
            </tr>
        </thead>

        <tbody id="search-results" class="accounts-table">

        </tbody>
    </table>
</div>
