<div id="tab-panel" role="tabpanel">

    <input id="current-search" name="search"
    type="search" placeholder="Search for client" hx-post="/htmx/clients/search"
    hx-headers='{ "X-CSRF-Token": "{{ .csrfToken }}" }'
        hx-target="#search-results" hx-swap="innerHTML" hx-trigger="input changed delay:500ms, search, load">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Gender</th>
                <th>Urination</th>
                <th>Defecation</th>
                <th>Last record</th>
                <th>TO ID</th>
            </tr>
        </thead>

        <tbody id="search-results" class="clients-table">

        </tbody>
    </table>
</div>
