<div id="tab-panel" role="tabpanel" hx-target="this" hx-swap="outerHTML">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Gender</th>
                <th>Urination</th>
                <th>Defecation</th>
                <th>Last record</th>
            </tr>
        </thead>

        <tbody id="search-results" class="clients-table" hx-post="/htmx/clients/current"
            hx-headers='{ "X-CSRF-Token": "{{ .csrfToken }}" }' hx-target="#search-results" hx-swap="innerHTML"
            hx-trigger="load">

        </tbody>
    </table>
</div>
