body {
    flex: 1;
    background-color: #D3D3D3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    font-family: monospace;
    font-size: 2rem;
    font-weight: bold;
}

#content-header {
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.login-form-field {
    font-size: 1.25rem;
    margin: 0.5rem;
    padding: 0.2rem;
}

#login-button {
    font-size: 1.125rem;
    width: 50%;
    margin: 0.5rem;
    padding: 0.2rem;
}

#log-user {
    font-family: monospace;
    font-weight: 500;
    font-size: 1.5rem;
}

#tab-list {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#tab-panel {
    margin-top: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logout-button,
.main-tab {
    margin: 0rem 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

#logout-button {
    background-color: lightcoral;
    cursor: pointer;
}

#accounts-header-div,
#client-header-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    .search-box {
        font-size: 1.25rem;
        margin: 0rem 1rem;

        input {

            background-color: whitesmoke;
        }
    }
    
    button {
     
        margin-top: 15px;
    }
}



.add-button {
    font-size: 1rem;
    background-color: lightskyblue;
    cursor: pointer;
}

.entry-remove-button,
.entry-add-button {
    width: 70px;
    cursor: pointer;
}

.entry-remove-button {
    color: whitesmoke;
    background-color: red;
}

.entry-add-button {
    color: whitesmoke;
    background-color: blue;
}


#client-new-form {
    margin: 1rem;
}

.new-field {
    font-size: 1rem;
}

.settings-form-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem 0.5rem;
    width: 90%;

    label {
        font-size: 1.25rem;
        font-weight: 400;
    }

    input {
        font-size: 1.25rem;
        font-weight: 500;
        width: 250px;
    }

}



table {
    border-collapse: collapse;
    border: 1px solid black;
}

tr,
th,
td {
    padding: 0.25rem;
    border: 1px solid black;
}


thead {
    th {
        font-weight: 600;
        width: 100px;
    }
}

tbody {
    th {
        font-weight: 400;
        width: 100px;

        input {
            width: 90%;
            font-size: 0.9rem;
        }
    }
}


.settings-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 30px;

    span {
        font-size: 1.125rem;
        margin: 1rem 0.5rem;
    }

    button {
        width: 80px;
        height: 30px;
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    button:hover {
        cursor: pointer;
    }
}




#settings-fadeout {
    animation: fadeOutAnimation ease-in 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
        height: 20px;
        padding: 0.5rem;
        margin: 0px;
    }

    100% {
        opacity: 0;
        height: 0px;
        padding: 0px;
        margin: 0px;
    }
}

/***** MODAL DIALOG ****/
#modal {
    /* Underlay covers entire screen. */
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    /* Flexbox centers the .modal-content vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Animate when opening */
    animation-name: fadeIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal>.modal-underlay {
    /* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#modal>.modal-content {
    /* Position visible dialog near the top of the window */
    margin-top: 10vh;

    /* Sizing for visible dialog */
    width: 80%;
    max-width: 600px;

    /* Display properties for visible dialog*/
    border: solid 1px #999;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 20px;

    /* Animate when opening */
    animation-name: zoomIn;
    animation-duration: 150ms;
    animation-timing-function: ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#modal.closing {
    /* Animate when closing */
    animation-name: fadeOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal.closing>.modal-content {
    /* Animate when closing */
    animation-name: zoomOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}