<tr id="account-entry-{{ .account.Id }}">
    <form hx-post="/htmx/accounts/{{ .account.Id }}/save" hx-swap="outerHTML"
        hx-target="#account-entry-{{ .account.Id }}">

        {{ .csrfField }}
        <th>{{ .account.Id }}</th>
        <th>

            <input type="text" name="firstName"
            value="{{ .account.FirstName }}">
            </input>
        </th>
        <th>
            <input type="text" name="lastName"
            value="{{ .account.LastName }}">
            </input>
        </th>
        <th>
            <input type="text" name="username"
            value="{{ .account.Username }}">
            </input>
        </th>
        <th>
            <input type="text" name="telegram"
            value="{{ .account.Telegram }}">
            </input>
        </th>

        <th>{{ .account.UserType }}</th>
        <th><button type="submit">save</button></th>
    </form>
</tr>
