<div id="client-new-form">
    <form hx-post="/htmx/clients/new" hx-target="this" hx-swap="delete">
        {{ .csrfField }}

        <input id="new-first-name" class="new-field"
        name="firstName" type="text" placeholder="First name" required>
        <input id="new-last-name" class="new-field"
        name="lastName" type="text" placeholder="Last name" required>
        <input id="new-gender" class="new-field"
        name="gender" type="text" placeholder="Gender" required>

        <button id="new-submit" disabled
            type="submit">Add</button>
    </form>

    <script>
        var firstName = document.getElementById("new-first-name")
        var lastName = document.getElementById("new-last-name")
        var gender = document.getElementById("new-gender")
        var button = document.getElementById("new-submit")
    

        var check = () => {
            var genderVal = gender.value.toLowerCase()
            button.disabled = !(genderVal === "male" || genderVal === "female")
                || firstName.val === "" || lastName.val === ""
        }

        firstName.addEventListener("input", check)
        lastName.addEventListener("input", check)
        gender.addEventListener("input", check)

    </script>
</div>
