<form id="settings-account-password-form" class="settings-form" hx-post="htmx/settings/password" hx-target="this"
    hx-swap="outerHTML">
    {{ .csrfField }}
    <div class="settings-form-field">
        <label for="settings-current-password">Current password:</label>
        <input id="settings-current-password" name="oldPassword" type="text" placeholder="Current password" required>
    </div>
    <div class="settings-form-field">
        <label for="settings-new-password-1">New password:</label>
        <input id="settings-new-password-1" name="newPassword" type="password" placeholder="New password" required>
    </div>
    <div class="settings-form-field">
        <label for="settings-new-password-2">Retype password:</label>
        <input id="settings-new-password-2" type="password" placeholder="New password" required>
    </div>

    <button id="settings-password-button" type="submit" disabled>Change</button>
    {{ if eq .status "ok" }}
    <p>Password successfully changed!</p>
    {{ else if eq .status "old"}}
    <p>Invalid current password, please try again.</p>
    {{ else if eq .status "nil" }}
    {{ else }}
    <p>Error setting password, please try again.</p>
    {{ end }}

    <script>
        var oldPassword = document.getElementById("settings-current-password")
        var newPassword1 = document.getElementById("settings-new-password-1")
        var newPassword2 = document.getElementById("settings-new-password-2")
        var button = document.getElementById("settings-password-button")

        var valid = function () {
            button.disabled = oldPassword.value == "" ||
                newPassword1.value !== newPassword2.value
        }

        oldPassword.addEventListener('input', valid)
        newPassword1.addEventListener('input', valid)
        newPassword2.addEventListener('input', valid)

    </script>

</form>
