<!DOCTYPE html>
<html lang="en">

<head>
    <title>PottySense</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="G1T3">
    <meta name="description" content="PottySense Portal">

    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/htmx.min.js"></script>
</head>

<body>
    <h1 id="logo">PottySense</h1>

    <div id="tab-panel" hx-target="this" hx-swap="outerHTML" hx-get="{{ index .hxGet }}" hx-trigger="load"
        hx-replace-url="{{ index .hxReplaceUrl }}">
    </div>

</body>

<footer>
    <h5 id="copyright">Copyright © 2024 SMU CS460 AY2023-T2 G1T3</h5>
</footer>
